
/* Your CSS Code here. */
.holder {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
	grid-gap:10px;
	background-color: lightcyan;
	padding:20px;
	border: 2px solid gray;
}

.item {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
	background-color: lightpink;
	line-height: 40px;
	font-size: 20px;
}
	 